body{
	width: 650px;
	margin-left: 50px;
	background: white;
    background-image: url(http://coding.imweb.io/img/project/blog/bg.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: bottom right;
}
/*h1样式*/
.page-tt{
	font-size: 36px;
	color: #188eee;
	line-height: 200%;
    margin: 30px 0px;
}

.article h2{
	font-size: 24px;
	line-height: 200%;
	margin: 20px 0;
	/*h2下划线-用h2背景*/
	background: linear-gradient(to right,#188eee 4em,#999 4em) no-repeat;
	background-size: 100% 1px;
	background-position: bottom;

}
/*h2下划线-用after*/
/*.article h2::after{
	content: "";
	height: 1px;
	width: 100%;
	display: block;
	background: linear-gradient(to right,#188eee 4em,#999 4em) no-repeat;
}
*/

/*行程安排列表序号样式*/
.article ol{
	counter-reset: section;
	list-style-type: none;
}
 .article ol li:before{
	counter-increment:section;
	content:counter(section,decimal-leading-zero) "/";
    font-family: Monospace ;
    font-style: italic;
    color: #999;
    margin-right: 10px;
}
/*正文段落样式*/
.article p{
	font-size: 16px;
	line-height: 180%;
	text-indent: 2em;
	margin:10px 0px;
}

.article img{
	border: solid #999 1px; 
	padding: 5px;
	margin-bottom: 10px;
 
}
.ps{
	color: #999;
}
.ps a:hover{
	color: #188eee;
}

/*整个评论区域*/
.section-comment{
	border-top: solid 3px #188eee;
	margin-top: 50px;
	padding-top: 30px;
}

/*评论框样式*/
.f-textarea{
	width: 100%;
	height: 80px;
    border: solid #dbdbdb 1px;
    border-radius: 5px;
    padding: 5px;
}
.f-textarea:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border-color: #ccc;
}
/*按钮样式*/
.f-btn{
	height: 30px;
	width: 85px;
	border-style: none;
	border-radius: 5px;
	margin: 5px 0 20px 0;
}
.f-btn:hover{
	color: white;
	background-color: #147de2;
}
.comment-item{
	font-size: 12px;
	background-color: #f5f5f5;
	margin-bottom: 10px;
	padding: 5px;
}
.comment-item:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.comment-bd{
	font-size: 14px;
}

/*评论时间*/
.item-time{
	color: #666;
	margin-right: 10px;
}
.item-user:hover{
	color:#147de2;
}
/*点赞回复*/
.comment-ft{
	text-align: right;
}
.ft-oper:hover{
	cursor: pointer;
	color: #147de2;
}
